a{ 
    text-decoration: none; 
    font-size: 40px; 
} 
h1 {
    font-size: 50px;
    text-align: center;
}
p {
    font-size: 30px;
}
nav{ 
    height: 90px; 
    display: flex; 
    align-items: center; 
    width: 700px;
    margin: auto;
    justify-content: space-around;
} 
 
input{ 
    font-size: 30px; 
    padding: 10px 20px; 
    display: block; 
    width: calc(100% - 40px); 
    margin-bottom: 50px; 
} 
#aboutme{ 
    display: flex; 
    justify-content: center; 
} 
#gamebox{ 
    width: 700px; 
} 
.knopka {
    padding: 15px;
    background-color: gray;
    border-radius: 10px;
    margin-bottom: 20px;
}
#blocknopka{
    display: flex;
    justify-content: center;
}
